/* here you can put your own css to customize and override the theme */
dl.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
dl.dropdown ul {
    margin: -1px 0 0 0;
}
dl.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    color:#777;
    text-decoration:none;
    outline:none;    
}
.multiSel {
	  margin: 5px 0 0 5px !important;
}
dl.dropdown dt{
	background-color:#fff;
	font-weight:normal !important;
	border:2px solid #AB3009 !important;
	border-radius: 5px !important;
	min-height:46px;
}
.hida {
	  font: 15px Arial, sans-serif;
	  margin: 5px 0 0 5px;
}
dl.dropdown dt a {
    
    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;    
    overflow: hidden;
    border:0;    
}
dl.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
    font: 14px Arial, sans-serif !important;
}
dl.dropdown dd ul {
    background-color: #fff;
    border:0;
    color:#777;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;    
    list-style:none;
    height: 150px;
    overflow: auto;
    width:100%;
    z-index:9;
}
.no-padding-left{
	padding-left:0 !important;
}
dl.dropdown span.value {
    display:none;
}
dl.dropdown dd ul li a {
    padding:5px;
    display:block;
}
dl.dropdown dd ul li a:hover {
    background-color:#fff;
}
button {
  background-color: #6BBE92;  
  border: 0;
  padding: 10px 0;  
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.searchbar {
	background-color: rgba(70, 0, 0, 0.6) !important;
}
.searchbar .tab-content{
	background-color: transparent !important;
}
.page-quick-sidebar .nav-tabs > li.active > a{
	  background-color: rgba(70, 0, 0, 0.6) !important;
}
.page-quick-sidebar-wrapper{
	position:absolute !important;
	max-height:550px;
}
.searchbar h3{
	color:#fff !important;
}
.pre-header a:hover {
  color: #FFFFFF !important;
}
.dropdown-menu-list > li .message {
  display: block !important;
  font-size: 12px;
  line-height: 1.3;
  margin-left: 46px;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 65px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-bottom-color: #fff;
  content: '';
}
.dropdown-menu-list a:hover{
	color:#000 !important;
}
.dropdown-menu-list > li .photo img {
  height: 40px;
  width: 40px;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49 !important;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)) !important;
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f) !important;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b !important;
  background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
  background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
  background-image: linear-gradient(to bottom, #62c462, #51a351) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}