@CHARSET "ISO-8859-1";
.messenger {
	width:  350px;
  height: 40px; /* 300px open, 30px closed */
  position: fixed;
  right:  0;
  bottom: 0;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius:         5px 5px 0 0;
  -moz-border-radius:    5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  z-index:999;  
}
.bg-white{
	background:#ECECEC;
}
.open{
	height:395px !important;
}

.close{
	height:40px !important;
}
.open-chat-target{
	width: 200px;
  height: 30px;
  float: left;
  cursor: pointer;
}
.chat-header{
	background: #3b5998;
  width: inherit;
  height: 40px;
  border-bottom: 1px solid #38487D;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.messenger-body{
	width: 100%;
  height: 270px;
  background: #ECECEC;
  overflow-y: scroll;
}
.messenger-body ul{
	margin-top:15px;
	padding-left:10px;
}
.messenger-body ul li{
	list-style:none;
	margin-bottom:10px;
}
.messenger-body ul li img{
	margin-right:10px;
	vertical-align: top;
}
.messenger-body ul li img.img-left{
	margin-left:10px;
}
.p-lr-10{
	width: 100%;
  position: absolute;
  bottom: 0;
}
.chat-messages{
	width: 100%;
  height: 100%;
  color: #000000;
  font-size: 14px;
  font-weight: 350;
  word-wrap: break-word;  
}
#chat-message{
	border: none;
  padding: 10px 12px;
  background: #d3d3d3;
  width: 100%;
  border-radius: 2px;
  
  min-height: 30px;
  
  overflow: auto;
  resize: none;
}
.chat-messages .message{
	background: #fff;
  display: inline-block;
  padding: 13px;
  width: 265px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position: relative;
}
.chat-messages .message:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  border-right: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  top: 10px;
  margin-left: -6px;
}
.right .message:before{
	left: 100%;
  margin-right: 6px;
  margin-left: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.titlebar {
  width: 90%;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
}
.usr-name {
  width: 70px;
  float: left;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.top-lfloat {
  float: left;
  margin-top: 12px;
  margin-left: 10px;
}
.isOnline{
	background-color: #F3565D;
}
.isOffline{
	background-color: #eeeeee;
}
.usr-status{	
  margin-top: 3px;
  right: 3px;
  display: inline;
  font-size: 11px;
  font-weight: 300;
  text-shadow: none;
  height: 12px;
  padding: 3px 6px 3px 6px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  float:left;
}
.chat-toggle{
	  margin: 8px 10px 0 0;
}
.right img {
	float: right;
  	padding: 0;  	
}