h1, h2, h3, h4, .control-label, button {
	font-family: 'Bitter' !important;
}

.header {
	border-bottom: 2px solid #E6400C;
	margin-bottom: 0px;
	box-shadow: none;
}

.search-navigation {
	float: none !important;
}
.search-navigation > ul {
	float: none;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
}
.search-navigation > ul > li > a {
	padding: 12px 16px !important;
}

.search-navigation ul > li > a:hover {
	background: inherit;	
}

.input-lg {
    border: 2px solid #AB3009 !important;
}
.input-icon i {
    color: #AB3009;
}
.btn-circle, .input-circle {
    border-radius: 5px !important;
}

.custom-typeahead {
    height: 46px;
    padding-left: 33px;
}

.custom-typeahead {
    width: 98%;
    margin-left: 1%;            
}

.comment-description {
	background: #FFF;
	border: none;
	padding: 0px;
	font-size: 14px;
}

.tab-content {
	background: #FFF !important;
}

.tooltip > .tooltip-inner {
	background-color: #fff;
	color: #60626A;
	/* box-shadow: 0px 0px 5px #888888; */
	border: 2px solid #AB3009;
	border-radius: 5px !important;
	width: 300px !important;
	text-align: left;
	padding: 15px;
	max-width: 300px !important;
}

.tooltip {
	font-family: Helvetica !important;
}   

.tooltip.left .tooltip-arrow { 
	border-left-color: #AB3009 !important; 
}

.tooltip.right .tooltip-arrow { 
	border-right-color: #AB3009 !important; 
}

.tooltip.in {
	opacity: 1;
}

.featured-company-offer {
	position: absolute;
	right: 20px;
	top: 10px;
	background: rgba(255, 255, 255, 0.35);
	padding: 10px;
	text-align: right;
}

.btn-menu {
	color: #FFF;
	font-size: 13px;
}

.btn-menu:hover {
	color: #892626;
	text-decoration: none;	
}

.btn-menu.active {
	color: #892626;
	text-decoration: none;
	font-weight: bold;	
}

.border-bottom-gray {
	border-bottom: 1px solid #EEE;
}

.form-radio .btn-default.active {
	background: #E94D1C;
	color: #FFF;
	border-color: #E94D1C;
}

.similar-item {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background: rgba(239, 57, 0, 0.8);
	padding-top: 18px;
	padding-right: 3px;
	padding-bottom: 3px;
	border-bottom-right-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
}

.similar-item a {
	color: #FFF;
	font-style: italic;
	font-weight: bold;
}

.similar-item a:hover {
	text-decoration: none;
}

.service-item {
	background: rgba(255, 0, 0, 0.05);
	padding: 10px;
	background-size: cover;
	position: relative;
	border: 1px solid #FFF;
}

.service-item-hover {
	border: 1px solid #E94D1C;	
	cursor: pointer;
}

.store-offers b {
	font-weight: 600 !important;
}